<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.halilibo.betteraudioplayer">

    <application>
        <receiver android:name=".receiver.CallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.NEW_OUTGOING_CALL" />-->
            <!--</intent-filter>-->
        </receiver>
    </application>

</manifest>
